$dark: #000000;
$light: #ffffff;

$backgroundColor: #292929;
$primaryColor: #0aa1ff;
$primaryTextColor: #e6e6e6;

$headlineBig: clamp(5rem, 9.9vw, 15rem);
$headlineMedium: clamp(1rem, 2vw, 4rem);
$headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
$spacing: clamp(0.9rem, 0.75vw, 1.3rem);
